<div class='container fixed-homepage'>
  <div class="row-well">
    <a ng-click="createTrail()"><h4>Create a trail</h4></a>
    <h1 class="page-header">{{ userInfo.currentTrail.name }}</h1>
  </div>
  <div class="row-well">
    <div class="col-sm-6" ng-if="exists == true">
        <p class=rating-disp>Rating: {{trail.rating }}</p>
        <p class=difficulty-disp>Difficulty: {{trail.difficulty}}</p>
        <p class=time-disp>Time: {{trail.time}}</p>

        <form controller='CommentFormController' class='comment-form'>
          <textarea ng-model='newComment.text' class='comment-text' placeholder='Comments'></textarea>
          <p> Rating:</p>
          <select ng-model='newComment.rating' class='rating'>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
          </select>
          Difficulty:
          <select ng-model='newComment.difficulty' class='difficulty'>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
          </select>
          <br />Hours to hike<input ng-model='newComment.time' type=number class='time'></number><br />
          <button ng-click='submitComment(newComment)' type='button' class="btn-success form-control">Submit Comment</button>
        </form>
      <button class="btn btn-success form-control" ng-click="saveTrail(userInfo.currentTrail)">Save this trail!</button>
      <button class="btn btn-success form-control" ng-click="haveDone(userInfo.currentTrail)">I have hiked this trail</button>
    </div>
    <form ng-if="exists == false" ng-submit="saveTrail(userInfo.currentTrail)">
      <label>Name</label>
      <input class="form-control" type="text" name="name" ng-model="userInfo.currentTrail.name" size="100%">
        <div>
          <button class="btn btn-success form-control" ng-if="saved == false" ng-model="saved" ng-click="startTrail(userInfo.location)">Begin hiking</button>
          <button class="btn btn-success form-control" ng-if="saved == true" ng-model="saved" ng-click="saveTrail(userInfo.currentTrail)">Save this trail!</button>
        </div>
    </form>
  </div>

 <div class='comment-view' ng-repeat="comment in comments">
   <p ng-if= 'comment.text' >Comment: {{comment.text}}</p>
   <p ng-if= 'comment.rating'>Rating: {{comment.rating}}</p>
   <p ng-if= 'comment.difficulty'>Difficulty: {{comment.difficulty}}</p>
   <p ng-if= 'comment.time'>Time: {{comment.time}}</p>
 </div>
  <div id="map"></div>
</div>
